::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #222222;
}
::-webkit-scrollbar-thumb {
  background: #5D12B6; 
}
::-webkit-scrollbar-thumb:hover {
  background: #4C8077; 
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
  font-size: 28px;
  font-family: "Montserrat", Arial, sans-serif;
  background: radial-gradient(circle at top, #2f2f2f, #111111);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #141E30;
  background: linear-gradient(to right, #243B55, #141E30);
  z-index: -1;
}

/* NAVIGATION BAR 1 */
#nav1 {
  display:flex;
  overflow: hidden;
  justify-content: center;
  border-width: 5px;
  background-color: #ffffff00;
  z-index: 4;
  top: 8px;
  position: fixed;
  width:100%;

  opacity: 0;
  transform: translateY(-100%);
}
#nav1.visible{
  opacity: 1;
  transform: translateY(0);
}
#nav1 img {
  float: left;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 5px 20px 0 5px;
  align-items: center;
}
#nav1 h4 {
  float: left;
  margin-right: 30%;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  font-family: "Raleway", sans-serif;
}

#nav1 a {
  float: right;
  color: #c9c9c9;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 18px;
}
#nav1 a:hover { color: #FF784B;}

#nav1 a.active {
  color: #ffffff;
}
#nav1 a.btn {
  float: right;
  text-align: center;
  margin-top: 15px;
  margin-left:3px;
  margin-right: 3px;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: #5D12B6;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.35s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
}
#nav1 a.btn:hover {background-color: #ff8080;}
#nav1 span {float: right;}

/* NAVIGATION BAR 2 */
#nav2 {
  overflow: hidden;
  border-width: 5px;
  background-color: #11111188;
  border-bottom: solid 2px #5D12B6;
  z-index: 4;
  position: fixed;
  width:100%;

  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#nav2.visible{
  opacity: 1;
  transform: translateY(0);
}
#nav2 img {
  float: left;
  height: 60px;
  width: 60px;
  padding: 5px 10px 5px 10px;
  margin-left: 6%;
  align-items: center;
}
#nav2 h4 {
  float: left;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  font-family: "Raleway", sans-serif;
}

#nav2 a {
  float: right;
  color: #c9c9c9;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 18px;
}
#nav2 a:hover { color: #FF784B;}

#nav2 a.active {
  color: #ffffff;
}
#nav2 a.btn {
  float: right;
    text-align: center;
    margin-top: 15px;
    margin-left:3px;
    margin-right: 6%;
    margin-bottom: 15px;
    max-height: 30px;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: #5D12B6;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.35s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#nav2 a.btn:hover {background-color: #ff8080;}
#nav2 span {float: right;}

/* SIDE NAVIGATION BAR */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

a.bun {
  appearance: button;
  background-color: #5D12B6;
  text-decoration:none;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
  transition: color 0.15s ease-in-out, background-color 0.35s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a.bun:hover {
  background-color: #FAA6FF;
}

.content1 {
  /*background-image: url("assets/bg1.jpg");*/
  height: 900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:#000000;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.content2 {
  text-align: left;
  color: white;
  align-items: left;
  display: flex;
  padding: 50px 10rem;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
}

.content2 h2 {
  padding: 5px;
  color: #FF784B;
  font-family: "Poppins", sans-serif;
}

.content3 {
  text-align: center;
  color: white;
  align-items: center;
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.duper-image {
  margin-top: 17%;
  margin-left: 25%;
  width: 500px; /* Set the size for your image */
  height: 500px; /* Ensure height matches width for a circular image */
}

.web-box2 p {
  font-size: 1em;
  color: #666;
}

.web-box1 {
  margin-left: 10%;
  margin-top: 15%;
  text-align: left; 
  max-width:400px;
  min-width:200px; 
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
}
.web-box1 h2 {
  color: #ffffff; 
  text-shadow: 2px 2px 8px #00000088;
  font-family: "Poppins", sans-serif;
  font-size: 70px; 
  padding: 0px;
}

.web-box2 {
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border: 1px solid #e0e0e0; /* Light border */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth hover effect */
  min-width: 300px;
  max-height: 300px;
  font-family: "Poppins", sans-serif;
  margin: 20px;
}

.web-box2:hover {
  transform: translateY(-10px); /* Lift effect on hover */
  box-shadow: 0 8px 16px rgba(255, 255, 255); /* Deeper shadow on hover */
}

.web-box2 h2 {
  color: #000000; 
  text-shadow: 2px 2px 8px #00000088;
  font-family: "Poppins", sans-serif;
  font-size: 70px; 
  padding: 0px;
}
.web-box2 i {color:#CB0094;font-size:50px;padding:20px;}

#plans {
  text-align: center;
  color: white;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  font-family: "Kanit", sans-serif;
}
#plans h2 {
  padding: 15px;
  font-size: 50px;
  color:#FF784B;
  font-family: "Poppins", sans-serif;
}

#plans div.container {
  text-align: center;
  color: white;
  align-items: center;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

#plans div.box {
  margin-top: 4%;
  color: white;
  padding: 18px;
  max-width: 20rem;
  max-height: 50rem;
  min-height: 35rem;
  margin: 50px;
  border: 5px solid #5D12B6;
  border-image-slice: 1;
  position: relative;
  transition: color 0.15s ease-in-out, background-color 0.35s ease-in-out, border-color 0.50s ease-in-out, box-shadow 0.60s ease-in-out;
}
#plans div.box:hover {
  background-color: #444444;
  border: 5px solid #ffffff;
  box-shadow: 0 0 50px 10px #ffffff;
  transition: color 0.15s ease-in-out, background-color 0.35s ease-in-out, border-color 0.50s ease-in-out, box-shadow 0.60s ease-in-out;
}
#plans div.box h4 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 2rem;
  top: auto;
  width: 80%;
  border: solid 3px #ffffff;
  padding: 5px;
}
#plans div.box h3 {
  border-bottom: 3px solid white;
}
#plans div.box ul {text-align: left; padding-bottom: 4rem;}
#plans div.box li {padding:10px;}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.Ctable {
  text-align: center;
  color: white;
  align-items: center;
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  max-width: 150rem;
}
.Ctable h2 {
  padding: 50px 6rem;
  font-family: "Poppins", sans-serif;
}

.overflow {
  text-align: center;
  color: white;
  align-items: center;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  max-width: 150rem;
  overflow-x: auto;}

.compare {
	text-align: left;
  overflow:visible;
  margin-left: 0rem;
  float: inline-end;
  display: table;
  margin-left: 6rem;
  padding: 0 0 2rem 0;
}

.compare td, .compare th {
  padding: 30px;
}

/* Background-color of the odd rows */
.compare tr:nth-child(odd) {
	  background-color: #444444;
}

/* Background-color of the even rows */
.compare tr:nth-child(even) {
	  background-color: #353535;
}

.compare th {
	  background-color: #222222;
}

.compare td:first-child { color: #FF784B; }

.compare tr:hover {
  background-color: #464A52;
  -webkit-box-shadow: 0 6p 6px -6px #0E1119;
	-moz-box-shadow: 0 6px 6px -6px #0E1119;
	box-shadow: 0 6px 6px -6px #0E1119;
}

@media (max-width: 800px) {
.compare td:nth-child(4),
.compare th:nth-child(4) { display: none; }
}

.dark-footer {
  background-color: #222222;
  color: #fff;
  padding: 20px;
  border-top: 3px solid white;
}

.footer-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  overflow: visible;
  font-family: 'Montserrat', sans-serif;
}
.footer-container img {
  max-width: 10rem;
  max-height: 10rem;
  padding: 1rem;
  margin: 0 10rem;
}
.footer-container .mob {
  max-width: 90px; 
  min-width: 50px;
  max-height: 90px;
  min-height: 50px; 
  padding: 0; 
  margin: auto 1rem;
}

.fc {margin: 1rem 7%;}
.fc h3 {
  font-size: 1rem;
  color: white;
}

.fc ul {
  list-style: none;
  padding: 0;
}

.fc ul li {
  margin-bottom: 8px;
}

.fc ul li a {
  color: #cccccc;
  font-size: 19px;
  text-decoration: none;
  
}

.fc ul li a:hover {
  color: #FF784B;
}

.footer-bottom {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  margin-top: 20px;
  border-radius: 1rem;
  border: 3px solid white;
  font-family: 'Raleway', sans-serif;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.social-links a:hover {
  text-decoration: underline;
}


@media (max-width: 1081px) {
  /* Phone Display */

  .hidden-mobile {
    display: none;
  }
  .content2 {padding:50px;}
  .content1 {height: 600px;}
  .Ctable h2 {
    padding:0;
    font-size: 1 rem;
  }
  #particles-js {
    height:70%;
  }
}
@media (min-width: 1081px) {
  /* Desktop/Laptop Display */
  .shown-mobile {
    display: none;
  }
}
